.form-control{
	margin-bottom: 20px;
}
.form-control label{
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}
.form-control input, .form-control textarea{
	width: 100%;
	font-weight: 500;
	font-size: 16px;
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.form-control .error::first-letter{
	text-transform: capitalize;
}